body {
    background-image: url('/utils/mapblack1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    max-height: 2160px;
    max-width: 3840px;
    margin: auto;
}

:root {
    --bg-color-2: rgba(68, 42, 196, 0.67);
    --bg-color-1: rgba(83, 92, 222, 0.592);
    --txt-color-1: rgba(255, 255, 255, 0.756);
    --rad1: 15px;
    --rad2: 5px;
    --bs1: 2px 2px 15px black;
    --pad: 30px;
    --pad2: 15px;
    --blur1: blur(5px) saturate(150%);
    --toprad: 10px 10px 0 0;
    --lowrad: 0 0 10px 10px;
    --tile: 10px;
    --bgc-top: rgba(54, 62, 175, 0.72);
    --bgc-low: rgba(35, 40, 100, 0.72);
    --marTop: 0;
    --marLow: 0;
    --padTop: 7px;
    --padLow: 10px;
}

header {
    z-index: 1;
    position: relative;
    
}
        h1 {
            backdrop-filter: blur(10px) saturate(180%);
            background-color: rgba(39, 48, 147, 0.678);
            color: white;
            text-align: center;
            padding: 2%;
            margin: 0;
        }


main {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;

    display: grid;
        grid-template-areas:'a a a'
                            'd b c'
                            'd b c'
                            'd b c';
        gap: 10px;
        justify-items: stretch;
      
        background-color: var(--bgc-low);
        backdrop-filter: var(--blur1);
        border-radius: 10px;
        padding-bottom: 2%;  
        
}

        #title {
            grid-area: a;
            text-align: center;
            margin: 0;
            padding: 1%;
                background-color: var(--bg-color-1);
                border-radius: var(--lowrad);
                color: var(--txt-color-1);  
                backdrop-filter: var(--blur1);
               
        }

        .topTile {
            text-align: center;
                color: var(--txt-color-1);
                background-color: var(--bgc-top);
                border-radius: var(--toprad);
                margin: var(--marTop);
                backdrop-filter: var(--blur1);
                padding: var(--padTop);
        }

        .bottomTile {
            text-align: center;
                color: var(--txt-color-1);
                background-color: var(--bgc-low);
                border-radius: var(--lowrad);
                margin: var(--marLow);
                backdrop-filter: var(--blur1);
                padding: var(--padLow);
        }

     #charMain {
        display: flex;
        justify-content: center;
        margin: 5% 15% 15% 15%;
            border-radius: var(--rad);
            padding: var(--pad);
            background-color: var(--bg-color-1);
            color: var(--txt-color-1);
            box-shadow: var(--bs1);
            backdrop-filter:var(--blur1);
            border-radius: var(--rad1);
            box-shadow: var(--bs1);
    } 


        #formContainer {
            display: flex;
            flex-direction: column;
            text-align: center;
                background-color: var(--bg-color-2);
                color: var(--txt-color-1);
                box-shadow: var(--bs1);
                padding: var(--pad);
                border-radius: var(--rad1);
        }

        select {
            padding: 5px;
            text-align: center;
            border: none;
                border-radius: var(--lowrad);
                background-color: var(--bgc-low);
                color: var(--txt-color-1);
        }
        label {

            padding: 5px;
            text-align: center;
            border-radius: var(--toprad);
            background-color: var(--bgc-top);
        }
        
            #raceSelectContainer, #charNameContainer {   
                display: flex;
                flex-direction: column;
                margin-bottom: 8%;
                    box-shadow: var(--bs1);
                    border-radius: var(--tile);
            }

            #buttonContainer {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }

                #name {
                    border: none;
                }


                #submit {
                    border: none;
                    padding: var(--pad2);
                    border-radius: 5px;
                    background-color: var(--bg-color-1);
                    color: var(--txt-color-1);
                    box-shadow: var(--bs1);
                    transition: all 0.5s ease;
                    font-family: "Cinzel Decorative", serif;
                    font-weight: 700;
                    font-style: normal;
                    font-size: clamp(.1rem, 1vw + .1rem, 1rem);
                    width: 100%;
                }
                    #submit:hover {
                        transform: scale(1.05);
                        animation: roll 1.5s ease-in-out infinite;
                    }

    

footer p {
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(39, 48, 147, 0.678);
    text-align: center;
    padding: 1%;
    position: absolute;
    bottom: 0;
    margin: 0;
    left: 0;
    right: 0;
    width: auto;
    box-sizing: border-box;
    color: var(--txt-color-1);
    box-shadow: var(--bs1);
}

#homeLink {
    
    position: fixed;
    top: 92.5%;
    width: auto;
    margin: 0;
    left: 0;
    right: 0;
    color: white;
    text-decoration: none;
        background-color: var(--bg-color-1);
        color: var(--txt-color-1);
        box-shadow: var(--bs1);
        padding: var(--pad2);
    display: flex;
        flex-direction: row;
        justify-content: space-between;
} 

#homeButton{
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding: 10px;
        background-color: var(--bgc-low);
        border-radius: var(--rad2);
        backdrop-filter: var(--blur1);
    margin: 0;
    box-shadow: var(--bs1);
}