body {
    background-image: url('/utils/mapblack1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

header {
    z-index: 1;
    position: relative;
    
}

#headerContainer {
    box-shadow: 2px 2px 15px black;
    border-radius: 15px;
}

h1 {
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(165, 42, 42, 0.623);
    color: white;
    text-align: center;
    padding: 2%;
    margin: 0;
    border-radius: 15px 15px 0 0;
}

.navContainer {
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(165, 42, 42, 0.623);
    display: flex;
    margin: 0;
    padding: 1%;
    flex-direction: row;
    justify-content: space-evenly;
    border-radius: 0 0 15px 15px;

}

ul, li, a {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-left: 0;
}

.dropDown {
    display: none;
    position: absolute;
}

li:hover .dropDown {
    display: flex;
    position: absolute;
    top: 100%;
    flex-direction: column;
    background-color: rgb(39, 26, 7);
    width: 200px;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 2px 2px 10px black;
}

ul {
    text-align: center;
}

li, #home {
    background-color: rgb(39, 26, 7);
    border-radius: 7px;
    padding: 10px;
    box-shadow: 2px 2px 10px black;

}

.dropDown a {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}


main {
    display: grid;
    grid-template-areas: 'a b c'
                         'a b c'
                         'a b c'
                         'd d d';
    gap: 10px;
    justify-items: stretch;
    margin-top: 1%;
}



#currentCharacter, #currentCampaign, #unfinishedCharacters {
    background-color: rgba(165, 42, 42, 0.623);
    text-align: center;
    backdrop-filter: blur(10px) saturate(180%);
    border-radius: .5rem;
    box-shadow: 2px 2px 15px black;
    
}

#currentCharacter {
    grid-area: a;
}

#currentCampaign {
    grid-area: b;
}

#unfinishedCharacters {
    grid-area: c;
}

footer {
    grid-area: d;
    backdrop-filter: blur(10px) saturate(180%);
    background-color: rgba(69, 53, 151, 0.623);
    text-align: center;
    border: 1px solid red;
    
}