body {
    background-image: url("utils/colorsketch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
}

main {
    display: grid;
    grid-template-areas: 'a a b b'
                         'c c b b'
                         'd d b b'
                         'e e b b'
                         'f f b b' ;
    gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
    justify-self: center;
    text-align: center;
    margin: 10%;
    background-color: rgba(0, 0, 0, 0.595);
    width: 1000px;
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    backdrop-filter: blur(10px);
}


#title {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    padding: 5%;
    color: white;
    background-color: rgba(135, 114, 78, 0.595);
    box-shadow: 2px 2px 15px black;
    border-radius: 10px;
    height: 75%;    
    margin: 10%;
    border: 2px solid rgba(255, 240, 213, 0.635);
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
    width: 400px;
    margin: 10%;
    background-color: rgba(135, 114, 78, 0.595);
    border-radius: 10px;
    box-shadow: 2px 2px 15px black;
    border: 2px solid rgba(255, 240, 213, 0.635);
}

 #userNameContainer, #passwordContainer, #buttonContainer, #emailContainer, #nameContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid rgba(255, 240, 213, 0.635);
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    color: white;
    border-radius: 10px;
 }


 #userNameContainer, #passwordContainer, #emailContainer, #nameContainer {
    background-color: rgba(33, 32, 30, 0.378);
    box-shadow: 2px 2px 15px black;
 }


 input {
    border-radius: 0 0 10px 10px;
    color: white;
    background-color: black;
    border: none;
    padding: 2%;
    text-align: center;
 }

 label {
    background-color: rgba(167, 148, 102, 0.635);
    border-radius: 10px 10px 0 0;
    padding: 2%;
 }

 #userNameContainer {
    grid-area: a;
 }

 #passwordContainer {
    grid-area: c;
 }

 #emailContainer {
    grid-area: d;
 }

 #nameContainer {
    grid-area: e;
 }

 #buttonContainer {
    grid-area: f;
 }

 #submit {
    padding: 5%; 
    border-radius: 10px;
    background-color: rgba(33, 32, 30, 0.378);
    color: white;
    transition: all 0.5s ease;
 }

 #submit:hover {
    transform: scale(1.05);
    animation: roll 1.5s ease-in-out infinite;
 }

 

@keyframes roll {
    0% {
        box-shadow: 2px 2px 15px rgb(252, 235, 140);
        transform: box-shadow rotate(0deg);
        /* Transform: translateY(0)translateX(0); */
    }

    25% {
        box-shadow: 2px 2px 25px rgb(250, 226, 89);
        transform: box-shadow rotate(90deg);
        
    }

    50% {
        box-shadow: 2px 2px 35px rgb(249, 235, 156);
        transform: box-shadow rotate(180deg);
        
    }

    75% {
        box-shadow: 2px 2px 25px rgb(250, 241, 190);
        transform: box-shadow rotate(270deg);
              
    }

    100% {
        box-shadow: 2px 2px 15px rgb(249, 249, 249);
        transform: box-shadow rotate(360deg);
        
    }
}
