body {
    background-image: url("utils/colorsketch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(47, 16, 16);
}



main {
    background-color: rgba(249, 193, 136, 0.489);
    backdrop-filter: blur(5px) saturate(150%);
    border-radius: .8rem;
    display: grid;
    gap: 20px;
    grid-template-areas: 
                         'a a b b'
                         'c c b b'
                         'd d b b';

    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    padding: 3%;
    justify-self: center;
    position:fixed;
    top: 20%;
    box-shadow: 2px 2px 15px black;
}

#title {
    grid-area: b;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    backdrop-filter: blur(50px);
    background-color: rgba(0, 0, 0, 0.732);
    padding: 2%;
    border-radius: .5rem;
    box-shadow: 2px 2px 15px black;
    text-align: center;
    color: rgba(248, 178, 28, 0.79);
    text-shadow: 1px 1px 8px rgb(0, 0, 0);

}


#signInBox {
    padding:25% 0 25% 0;
}

#userNameContainer, #passwordContainer, #buttonContainer {
    text-align: center;
    border-radius: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    
}

#userNameContainer {
    grid-area: a;
    backdrop-filter: blur(10px) saturate(150%);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px black;
}

#passwordContainer {
    grid-area: c;
    backdrop-filter: blur(10px) saturate(150%);
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 15px black;
}

#buttonContainer {
    grid-area: d;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#userName, #password {
    backdrop-filter: blur(10px) saturate(150%);
    border-radius: 15px;
    padding: 2%;
    margin: 5%;
    background-color: rgba(0, 0, 0, 0.079);
}


#submit  {
    border-radius: .3rem;
    color: black;
    background-color: rgba(0, 0, 0, 0.079);
    backdrop-filter: blur(5px);
    padding: 2%;
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 15px black;
    width: 100px;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    padding: 1%;
}

#newUser {
    border-radius: .3rem;
    color: black;
    backdrop-filter: blur(5px);
    padding: 2%;
    text-decoration: none;
    border: none;
    box-shadow: 2px 2px 15px black;
    width: 200px;
    
}

#newUser:hover {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(0px) translateX(0px) scale(1.05);
    animation:
        roll 2s ease-in-out infinite;
        animation-duration: 2s;

}

#submit:hover {
    box-shadow: 2px 2px 15px goldenrod;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transform: translateY(0px) translateX(0px) scale(1.05);
    animation:
        roll 2s ease-in-out infinite;
        animation-duration: 2s;
}

@keyframes roll {
    0% {
        box-shadow: 2px 2px 15px rgb(252, 235, 140);
        Transform: box-shadow rotate(0deg);
        /* Transform: translateY(0)translateX(0); */
    }

    25% {
        box-shadow: 2px 2px 25px rgb(250, 226, 89);
        Transform: box-shadow rotate(90deg);
        /* Transform: translateY(-20px)translateX(-10px);        */
    }

    50% {
        box-shadow: 2px 2px 35px rgb(249, 235, 156);
        Transform: box-shadow rotate(180deg);
        /* Transform: translateY(-20px)translateX(-10px);        */
    }

    75% {
        box-shadow: 2px 2px 25px rgb(250, 241, 190);
        Transform: box-shadow rotate(270deg);
        /* Transform: translateY(-20px)translateX(-10px);        */
    }

    100% {
        box-shadow: 2px 2px 15px rgb(249, 249, 249);
        Transform: box-shadow rotate(360deg);
        /* Transform: translateY(0)translateX(0); */
    }
}