body {
    background-image: url("utils/colorsketch.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Cinzel Decorative", serif;
    font-weight: 700;
    font-style: normal;
    max-height: 2160px;
    max-width: 3840px;
    margin: auto;
}

:root {
    --bg-color-2: rgba(68, 42, 196, 0.67);
    --bg-color-1: rgba(83, 92, 222, 0.72);
    --txt-color-1: rgba(255, 255, 255, 0.756);
    --rad1: 15px;
    --rad2: 5px;
    --bs1: 2px 2px 15px black;
    --pad: 30px;
    --pad2: 15px;
    --blur1: blur(5px) saturate(150%);
    --toprad: 10px 10px 0 0;
    --lowrad: 0 0 10px 10px;
    --bgc-top: rgba(54, 62, 175, 0.72);
    --bgc-low: rgba(35, 40, 100, 0.72);
}

 header h1 {
        font-size: clamp(.5rem, 4vw + 1rem, 3rem);
        text-align: center;
            background-color: var(--bg-color-1);
            color: var(--txt-color-1);
            box-shadow: var(--bs1);
        position: sticky;
        top: 0;
        width: auto;
        margin: 0;
        left: 0;
        right: 0;
        height: 15%;
    }

main { 
    margin: 5% 15% 15% 15%;
        border-radius: var(--rad);
        padding: var(--pad);
        background-color: var(--bg-color-1);
        color: var(--txt-color-1);
        box-shadow: var(--bs1);
        backdrop-filter:var(--blur1);

    display: grid;
        grid-template-areas: 'c c b b'          /*b = title*/
                             'c c b b'          /*c = formContainer*/
                             'c c b b';
        gap: 25px;
}


    

    #title {
        grid-area: b;

        display: flex;
            flex-direction: column;
            justify-content: center;

        text-align: center;
        font-size: clamp(.1rem, 1vw + .75rem, 3rem);
            border-radius: var(--rad);
            padding: var(--pad);
            background-color: var(--bg-color-2);
            color: var(--txt-color-1);
            box-shadow: var(--bs1);

        
    }

    #formContainer {
        grid-area: c;

            background-color: var(--bg-color-2);
            color: var(--txt-color-1);
            box-shadow: var(--bs1);
            padding: var(--pad);
    }

        input {
            padding: 5px;
            text-align: center;
            border: none;
                border-radius: var(--lowrad);
                background-color: var(--bgc-low);
                color: var(--txt-color-1);         
        }

        label {
            padding: 5px;
            text-align: center;
            border-radius: var(--toprad);
            background-color: var(--bgc-top);
        }

            #userNameContainer, #passwordContainer, #emailContainer, #nameContainer {
                display: flex;
                flex-direction: column;
                    color: var(--txt-color-1);
                    border-radius: 10px 10px 10px 10px;
                    box-shadow: var(--bs1);
                    margin-top: 10px;
                    margin-bottom: 10px;
            }

            #buttonContainer {
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
            }

                    #submit {
                        border: none;
                        padding: var(--pad);
                        border-radius: 5px;
                        background-color: var(--bg-color-1);
                        color: var(--txt-color-1);
                        box-shadow: var(--bs1);
                        transition: all 0.5s ease;
                        font-family: "Cinzel Decorative", serif;
                        font-weight: 700;
                        font-style: normal;
                        font-size: clamp(.1rem, 1vw + .1rem, 1rem);
                        width: 100%;
                    }
                
                        #submit:hover {
                            transform: scale(1.05);
                            animation: roll 1.5s ease-in-out infinite;
                        }
                
                    #newUser {
                        border: none;
                        text-decoration: none;
                            padding: var(--pad);
                            border-radius: 5px;
                            background-color: var(--bg-color-1);
                            color: var(--txt-color-1);
                            box-shadow: var(--bs1);
                            font-size: clamp(.1rem, 1vw + .1rem, 1rem);
                        transition: all 0.5s ease;
                        
                    }
                
                        #newUser:hover {
                            transform: scale(1.05);
                            animation: roll 1.5s ease-in-out infinite;
                        
                        }


footer {
    position: fixed;
    top: 94%;
    width: auto;
    margin: 0;
    left: 0;
    right: 0;

        background-color: var(--bg-color-1);
        color: var(--txt-color-1);
        box-shadow: var(--bs1);
}

    #loginLink {
        color: white;
        text-decoration: none;
        background-color: var(--bg-color-1);
        padding: var(--pad2);
    }









 



@keyframes roll {
    0% {
        box-shadow: 2px 2px 15px rgb(252, 235, 140);
        transform: box-shadow rotate(0deg);
    }

    25% {
        box-shadow: 2px 2px 25px rgb(250, 226, 89);
        transform: box-shadow rotate(90deg);
    }

    50% {
        box-shadow: 2px 2px 35px rgb(249, 235, 156);
        transform: box-shadow rotate(180deg);
    }

    75% {
        box-shadow: 2px 2px 25px rgb(250, 241, 190);
        transform: box-shadow rotate(270deg);
    }

    100% {
        box-shadow: 2px 2px 15px rgb(249, 249, 249);
        transform: box-shadow rotate(360deg);
    }
}